<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="stylesheet.css">
  </head>

  <style>
    #main{
      position: absolute;
      top: 50%;
      left: 50%;
      -ms-transform: translateX(-50%) translateY(-50%);
      -webkit-transform: translate(-50%,-50%);
      transform: translate(-50%,-50%);
    }
  </style>

  <body class ="bg-slate-700">
    <div id="main">
        <h1 class="font-bold text-8xl text-green-400">RoughPages</h1>
        <form action="/paste" class="mt-12 flex flex-col items-center" method="post">
          <div class="">
            <label class="font-bold text-3xl text-white" for="pastedata">Enter Paste Data</label>
          </div>
          <div class="mt-2">
            <textarea class="p-2 rounded-md w-fit h-72" id="rawText" name="rawText" rows="8" cols="60" required></textarea>
          </div>
          <div class="">
            <button class="mt-12 text-xl rounded-md bg-green-600 p-2 text-white font-bold hover:bg-green-500" type="submit" name="button">Save & Share </button>
          </div>
        </form>
      </div>
  </body>
</html>
